/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
/* line 12, ../_sass/screen.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 34, ../_sass/screen.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 39, ../_sass/screen.scss */
body {
  line-height: 1;
}

/* line 43, ../_sass/screen.scss */
ol, ul {
  list-style: none;
}

/* line 47, ../_sass/screen.scss */
blockquote, q {
  quotes: none;
}

/* line 51, ../_sass/screen.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 57, ../_sass/screen.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 62, ../_sass/screen.scss */
html, body {
  height: 100%;
}

/* line 66, ../_sass/screen.scss */
body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

/* line 73, ../_sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

/* line 77, ../_sass/screen.scss */
h1 {
  margin-bottom: 1em;
}

/* line 81, ../_sass/screen.scss */
p {
  margin: 1em 0;
}

/* line 85, ../_sass/screen.scss */
a {
  color: #00a;
}
/* line 88, ../_sass/screen.scss */
a:hover {
  color: black;
}
/* line 92, ../_sass/screen.scss */
a:visited {
  color: #a0a;
}

/* line 97, ../_sass/screen.scss */
table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
/* line 108, ../_sass/screen.scss */
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}
/* line 112, ../_sass/screen.scss */
ul.posts li {
  line-height: 1.75em;
}
/* line 116, ../_sass/screen.scss */
ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
/* line 129, ../_sass/screen.scss */
.site {
  font-size: 110%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

/* line 137, ../_sass/screen.scss */
.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}
/* line 142, ../_sass/screen.scss */
.title a {
  color: #a00;
  text-decoration: none;
}
/* line 146, ../_sass/screen.scss */
.title a :hover {
  color: black;
}
/* line 150, ../_sass/screen.scss */
.title a.extra {
  color: #aaa;
  text-decoration: none;
  margin-left: 1em;
}
/* line 155, ../_sass/screen.scss */
.title a.extra:hover {
  color: black;
}

/* line 162, ../_sass/screen.scss */
.site .meta {
  color: #aaa;
}

/* line 166, ../_sass/screen.scss */
.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}
/* line 173, ../_sass/screen.scss */
.site .footer .contact {
  float: left;
  margin-right: 3em;
}
/* line 177, ../_sass/screen.scss */
.site .footer .contact a {
  color: #8085C1;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */
/* line 194, ../_sass/screen.scss */
#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

/* line 200, ../_sass/screen.scss */
#post ul,
#post ol {
  margin-left: 1.35em;
}

/* line 205, ../_sass/screen.scss */
#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  font-size: 85%;
  padding: 0 .2em;
}

/* line 212, ../_sass/screen.scss */
#post pre code {
  border: none;
}

/* terminal */
/* line 218, ../_sass/screen.scss */
#post pre.terminal {
  border: 1px solid black;
  background-color: #333;
  color: white;
}

/* line 224, ../_sass/screen.scss */
#post pre.terminal code {
  background-color: #333;
}

/* line 228, ../_sass/screen.scss */
#related {
  margin-top: 2em;
}

/* line 232, ../_sass/screen.scss */
#related h2 {
  margin-bottom: 1em;
}
