{% if page.comments %}
            <section id="comments">
                <h3>Comments</h3>
                <script data-isso="https://comments.willpresley.com/" data-isso-postbox-author-text-en="Name <span>*</span>" data-isso-postbox-email-text-en="Email" data-isso-postbox-website-text-en="Website" src="https://comments.willpresley.com/js/embed.min.js"></script>
                <section id="isso-thread"></section>
                <!-- Isso Scripts -->
                <script src="{{site.url}}/js/wp-dotcom-isso-scripts.min.js?v={{ site.time | date:'%s' }}"></script>
            </section>
{% endif %}
