<footer class="site-foot">
                <div class="information clearfix">
                    <div class="contact">
                        <h4>Contact</h4>
                        <p><strong>Will Presley</strong><br />
                        <strong>Web Developer</strong><br />
                        <strong>SysAdmin</strong><br />
                        <strong><a href="mailto:me@willpresley.com">me@willpresley.com</a></strong></p>
                    </div>
                    <div class="links">
                        <h4>Find</h4>
                        <p><a href="http://www.linkedin.com/in/willpresley" target="_blank" rel="noreferrer"><strong>linkedin</strong>.com/in/willpresley</a><br />
                            <a href="http://www.github.com/WillPresley" target="_blank" rel="noreferrer"><strong>github</strong>.com/willpresley</a><br />
                            <a href="http://www.twitter.com/cryptecks" target="_blank" rel="noreferrer"><strong>twitter</strong>.com/cryptecks</a><br />
                            <a href="https://mstdn.social/@cryptecks" target="_blank" rel="me"><strong>mstdn</strong>.social/@cryptecks</a></p>
                    </div>
                </div>
                <div class="credits">
                    <a class="back-to-top" href="#top" title="Return to the top of the current page.">▲ Back to Top ▲</a>
                    <a class="theme-switch-link" id="s" title="Switch the site color theme to your system/device default">System</a> / <a class="theme-switch-link" id="d" title="Switch the site color theme to Dark Mode">Dark</a> / <a class="theme-switch-link" id="l" title="Switch the site color theme to Light Mode">Light</a>
                    <p class="credit-links"><a title="RSS Feed: {{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" target="_blank">RSS</a> / <a title="JSON Feed: {{ site.title }}" href="{{ "/feed.json" | prepend: site.baseurl | prepend: site.url }}" target="_blank">JSON</a></p>
                    <p>&copy; {{ site.time | date: '%Y' }} <a href="{{site.url}}/index.html" title="Return to the WillPresley.com Homepage">{{ site.author.name }}</a><br />
                    Made with &hearts; & <a href="http://jekyllrb.com/" title="Jekyll" target="_blank" rel="noreferrer">{% svg /images/jekyll-logo-red-black.svg height=36 %}</a> in {{ site.location }}</p>
                </div>
            </footer>
