<head>
    <!-- Theme Switch DeciderCode -->
    <script>const mql=window.matchMedia("(prefers-color-scheme: dark)");function toggleT(){var value=this.id;"s"==value?localStorage.removeItem("t"):localStorage.setItem("t",value),theme(mql)}function theme(query){const userOption=localStorage.getItem("t");document.body.id=null===userOption?query.matches?"dark":"light":"d"===userOption?"dark":"light"}mql.addListener(theme),theme(mql);</script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ page.title }} &ndash; WillPresley.com</title>

    <meta name="author" content="Will Presley" />
    {% if page.meta-description %}<meta name="description" content="{{ page.meta-description }}">{% else %}<meta name="description" content="{{ site.meta-description }}">{% endif %}
    {% if page.meta-robots %}<meta name="robots" content="{{ page.meta-robots }}">{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#2c3e50">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">

    <!-- Main (concatenated) CSS -->
    <link rel="stylesheet" crossorigin="anonymous" integrity="sha512-{{ '/home/will/jekyll/css/screen.min.css' | sha512 }}" href="{{site.url}}/css/screen.min.css?v={{ site.time | date:'%s' }}" type="text/css" media="screen, projection" />
    {% if page.comments %}<link rel="stylesheet" crossorigin="anonymous" integrity="sha512-{{ '/home/will/jekyll/css/isso.min.css' | sha512 }}" href="{{site.url}}/css/isso.min.css?v={{ site.time | date:'%s' }}" type="text/css" media="screen, projection" />{% endif %}

    <!-- RSS Feed Information -->
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | absolute_url }}">
    <!-- JSON Feed Information -->
    <link rel="alternate" type="application/feed+json" title="{{ site.title }}" href="{{ "/feed.json" | absolute_url }}" />

    </head>
