<head>
        <!-- <meta charset="utf-8"> -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>{{ page.title }} &ndash; WillPresley.com</title>

        <meta name="author" content="Will Presley" />
        {% if page.meta-description %}<meta name="description" content="{{ page.meta-description }}">{% else %}<meta name="description" content="{{ site.meta-description }}">{% endif %}
        {% if page.meta-robots %}<meta name="robots" content="{{ page.meta-robots }}">{% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#2c3e50">

        <link rel="icon" href="/images/favicon-32.png">

        <!-- Prefetch DNS for Google Webfonts -->
        <link rel="dns-prefetch" href="http://fonts.googleapis.com">

        <!-- Google Webfonts -->
        <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Istok+Web:500,700' rel='stylesheet' type='text/css'>

        <!-- Main (concatenated) CSS -->
        <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

        <!-- RSS Feed Information -->
        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="http://willpresley.com/feed.xml">

    </head>
