<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }} &ndash; WillPresley.com &ndash; Web Development</title>
    <meta name="author" content="Will Presley" />
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% else %}<meta name="description" content="{{ site.description }}">{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/images/favicon-32.png">

    <!-- Prefetch DNS for external assets (Twitter widgets etc). -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">

    <!-- Google Webfonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Istok+Web|Lora">

    <!-- Main (concatenated) CSS -->
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

</head>
