{% if page.date or page.location or page.comments %}<p class="meta">{% if page.date %}{% assign d = page.date | date: "%-d" %}{{ page.date | date: "%B " }}{% case d %}{% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %}, {{ page.date | date: "%Y" }}{% endif %}{% if page.location %}{% if page.date %} &ndash; {% endif %}{{ page.location }}{% endif %}{% if page.comments %}{% if page.date or page.location %} &ndash; {% endif %}<a href="#isso-thread" class="comments-link"></a>{% endif %}</p>{% endif %}
