<nav class="horiz-nav">
                {% assign current = page.url | downcase | split: '/' %}<a href="{{site.url}}/" {% if current[1] == null %}class='active'{% endif %}>Home</a> <span class="menu-separator">/</span>
                <a href="{{site.url}}/about/" {% if current[1] == 'about' %}class='active'{% endif %}>About</a> <span class="menu-separator">/</span>
                <a href="{{site.url}}/uses/" {% if current[1] == 'uses' %}class='active'{% endif %}>Uses</a> <span class="menu-separator">/</span>
                <a href="{{site.url}}/blog/" {% if current[1] == 'blog' %}class='active'{% endif %}>Blog</a> <span class="menu-separator">/</span>
                <a href="{{site.url}}/projects/" {% if current[1] == 'projects' %}class='active'{% endif %}>Projects</a>
            </nav>

            <header class="title">
                {% if current[1] == null %}<h1>{% endif %}<a href="{{site.url}}/index.html">Will<strong>Presley</strong></a>{% if current[1] == null %}</h1>{% endif %}
            </header>
