{% unless page.hide-related %}
            <section id="related">
                <h2>Related</h2>
                <ul class="related-posts posts">
                    {% for post in site.related_posts limit:3 %}
                    <li><span class="meta">{% assign d = post.date | date: "%-d" %}{{ post.date | date: "%B " }}{% case d %}{% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %}, {{ post.date | date: "%Y" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </section>
{% endunless %}
