$gutter-size: 32px;

.highlight {

    .gutter,
    .rouge-gutter {
        width: $gutter-size;
        vertical-align: top;
        border-right: 1px solid rgba(white, 0.55);
        opacity: 0.55;
    }

    pre.lineno {
        padding-top: 7px;
        // border: none;
        // opacity: 0.7;
        // color: $mid-grey;
        width: $gutter-size;
        text-align: right;
    }

    .lineno {
        @include unselectable();
    }

    code {
        transition: background $main-animation-timing $main-animation-function;
    }

    table {
        table-layout: fixed;
        width: 100%;
    }

    pre {
        // border: 1px solid $light-grey;
        // background-color: $code-grey;
        padding: 0.4em;
        // margin: 0 0.1em;
        margin: 0;

        &.highlight {
            // border: none;
            // background-color: unset;
            padding: 0;
            margin: 0;
        }
    }

    .rouge-table {
        font-size: 16px;
    }

    .rouge-code {

        pre {
            margin-right: -1px;
        }
    }
}

// Pygments themes (WCAG compliant) https://github.com/mpchadwick/pygments-high-contrast-stylesheets/
// github style pygments theme from https://github.com/aahan/pygments-github-style

// High Contrast Monokai
.highlight .hll { background-color: #49483e }
.highlight code { background: #272822; color: #f8f8f2 }
.highlight .c { color: #949076 } /* Comment */
.highlight .err { color: #ff3ca7; background-color: #1e0010 } /* Error */
.highlight .k { color: #66d9ef } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #f94e8a } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .ch { color: #949076 } /* Comment.Hashbang */
.highlight .cm { color: #949076 } /* Comment.Multiline */
.highlight .cp { color: #949076 } /* Comment.Preproc */
.highlight .cpf { color: #949076 } /* Comment.PreprocFile */
.highlight .c1 { color: #949076 } /* Comment.Single */
.highlight .cs { color: #949076 } /* Comment.Special */
.highlight .gd { color: #f94e8a } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gi { color: #a6e22e } /* Generic.Inserted */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #949076 } /* Generic.Subheading */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #f94e8a } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #a6e22e } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #a6e22e } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f94e8a } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .ow { color: #f94e8a } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mb { color: #ae81ff } /* Literal.Number.Bin */
.highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .sa { color: #e6db74 } /* Literal.String.Affix */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .dl { color: #e6db74 } /* Literal.String.Delimiter */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #a6e22e } /* Name.Function.Magic */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .vm { color: #f8f8f2 } /* Name.Variable.Magic */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */
