/*
 * Project Name: WillPresley.com Isso Comments
 * Author: Will Presley
 * Created: 2020/01/20 11:28:00
 * Last modified: 2022/10/13 16:38:14
 * Description: SCSS for Isso Comment System
 */

// Imports
@import "variables";
@import "media-queries";

/* ========================================================================== */
/* Thread heading area                                                        */
/* ========================================================================== */

#isso-thread {

    .isso-comment-header {
        font-size: 1em;
        line-height: 1.1;

        a {

            time {
                font-size: 0.85em;
            }
        }
    }

    // section {
    //     margin: 15px 0;
    // }

    .isso-textarea-wrapper {
        padding: 0 1.5%;
    }

    .isso-textarea,
    .isso-input-wrapper input,
    .isso-auth-section input {
        border: 1px solid $light-grey;
        outline: none;

        &:focus {
            border-color: $orange;
        }
    }

    /* Comments */
    .isso-comment {
        margin: 0.95em auto;
        padding-top: 0.95em;

        .isso-text-wrapper {
            padding-top: 0.3em;

            .isso-text {

                p {

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    .isso-avatar {
        line-height: 0.5;
        margin: 3px 10px 0 0;

        svg {
            border-radius: 0;
        }
    }

    .isso-follow-up {
        padding-left: calc( 3.5% + 20px );

        .isso-comment {
            margin-top: 0;
        }
    }

    .isso-spacer,
    .isso-permalink,
    .isso-note,
    .isso-parent {
        color: $grey;

        &:hover {
            color: $mid-grey;
        }
    }

    .isso-author {
        color: $mid-grey;
    }

    .isso-textarea,
    .isso-preview {
        border-radius: 0;
    }

    .isso-comment-footer {
        color: $grey;

        .isso-votes {
            color: $grey;
        }
    }

    /* Postbox */
    .isso-postbox {
        margin: 0 auto 1em;
    }

    .isso-textarea,
    .isso-preview {
        border-radius: 0;
        transition: background-color $main-animation-timing $main-animation-function, color $main-animation-timing $main-animation-function;
    }

    .isso-auth-section {
        margin: 0 0 1em;
    }

    .isso-input-wrapper {
        margin: 0;

        label {
            height: auto;
            width: 100%;

            &:first-of-type {
                display: block;
                font-size: 16px;
                font-style: italic;
                height: auto;
                line-height: 1.1;
            }
        }

        input {
            border-radius: 0;
            transition: background-color $main-animation-timing $main-animation-function, color $main-animation-timing $main-animation-function;
        }
    }

    .isso-post-action {
        margin: 0 0 0 10px;

        > input {
            border-color: transparent;
            border-radius: 0;
            transition: background-color $main-animation-timing $main-animation-function, color $main-animation-timing $main-animation-function;

            &:focus {
                border-color: transparent;
            }
        }
    }

    .isso-input-wrapper,
    .isso-post-action {

        input {
            height: 36px;
        }
    }
}

/* ========================================================================== */
/* DARK MODE                                                                   */
/* ========================================================================== */

$isso-input-bg-color: lighten( $dark-theme-background, 7.5% );

body#dark {

    .isso-textarea,
    .isso-preview {
        background-color: $isso-input-bg-color;
        border: 1px solid rgba( 0, 0, 0, 0.2 );
        box-shadow: 0 1px 2px rgba( 0, 0, 0, 0.1 );
    }

    .isso-input-wrapper {

        input {
            background-color: $isso-input-bg-color;
            border: 1px solid rgba( 0, 0, 0, 0.2 );
            box-shadow: 0 1px 2px rgba( 0, 0, 0, 0.1 );
        }
    }

    .isso-post-action {

        > input {
            background-color: darken( $dark-theme-background, 4% );
            border: 1px solid #CCC;
            box-shadow: 0 1px 2px rgba( 0, 0, 0, 0.1 );

            &:hover {
                background-color: darken( $dark-theme-background, 8% );
            }

            &:active {
                background-color: darken( $dark-theme-background, 12% );
            }
        }
    }

    .isso-preview {
        background: repeating-linear-gradient( -45deg,
        #F8F8F8,
        #F8F8F8 10px,
        #FFF 10px,
        #FFF 20px );
        background-color: #F8F8F8;
    }
}

/* ========================================================================== */
/* Media queries                                                              */
/* ========================================================================== */

@include max-screen(600px) {

    #isso-root {
        clear: both;
    }

    #isso-thread {

        .isso-avatar {

            svg {
                max-height: 24px;
                max-width: 24px;
            }
        }

        .isso-text-wrapper {

            .isso-text {
                clear: both;
            }
        }

        .isso-auth-section {
            clear: both;
            text-align: center;

            .isso-input-wrapper {
                margin: 0 0 0.5em;
                text-align: left;
            }

            // .isso-post-action {
            //     float: unset;
            // }
        }
    }
}

@include min-screen(601px) {

    #isso-thread .isso-auth-section {
        display: flex;
        // justify-content: space-between;
        justify-content: flex-start;

        .isso-input-wrapper {
            margin-right: 10px;
            // max-width: unset;
            max-width: 17.75vw;

            &:nth-of-type(3) {
                margin-right: 0;
            }
        }

        .isso-post-action {
            margin-top: auto;
        }
    }
}

@include min-screen(1024px) {

    #isso-thread .isso-auth-section {

        .isso-input-wrapper {
            max-width: 19vw;
        }
    }
}
