/*
 * Project Name: WillPresley.com Isso Comments
 * Author: Will Presley
 * Created: 2020/01/20 11:28:00
 * Last modified: 2020/02/03 11:07:58
 * Description: SCSS for Isso Comment System
 */

// Imports
@import 'variables';
@import 'media-queries';

#isso-thread {
    padding: 0;
    margin: 0;

    .isso-comment-header a {
        text-decoration: none;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    section {
        margin: 15px 0;
    }

    > h4 {
        color: #555;
        font-weight: bold;
    }

    > .isso-feedlink {
        float: right;
        padding-left: 1em;

        > a {
            font-size: 0.8em;
            vertical-align: bottom;
        }
    }

    .textarea-wrapper {
        padding: 0 1.5%;
    }

    .textarea {
        min-height: 58px;
        outline: 0;

        &.placeholder {
            color: #757575;
        }
    }

    .textarea:focus,
    input:focus {
        border-color: rgba(0, 0, 0, 0.8);
    }
}

#isso-root {

    .preview {

        .isso-comment {
            padding-top: 0;
            margin: 0;
        }
    }

    .isso-comment {
        max-width: 68em;
        padding-top: 0.95em;
        margin: 0.95em auto;
    }
}

.isso-follow-up .isso-comment {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.isso-feedlink {
    font-weight: bold;
    text-decoration: none;

    &:hover {
        color: #111111 !important;
        text-shadow: #aaaaaa 0 0 1px !important;
    }
}

.isso-comment {

    .isso-postbox {
        margin-top: 0.8em;
    }

    &:not(:first-of-type) {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    > div.avatar {
        display: block;
        float: left;
        width: 7%;
        margin: 3px 15px 0 0;

        > svg {
            max-width: 48px;
            max-height: 48px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 3px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        }
    }

    > div.text-wrapper {
        display: block;

        > .isso-comment-header,
        > .isso-comment-footer {
            font-size: 0.95em;
        }

        > .isso-comment-header {
            font-size: 0.85em;

            .spacer {
                padding: 0 6px;
            }

            .spacer,
            a.permalink,
            .note,
            a.parent {
                color: gray !important;
                font-weight: normal;
                text-shadow: none !important;

                &:hover {
                    color: #606060 !important;
                }
            }

            .note {
                float: right;
            }

            .author {
                font-weight: bold;
                color: #555;
            }
        }

        > .textarea-wrapper {

            .textarea,
            .preview {
                margin-top: 0.2em;
                width: 100%;
                border: 1px solid #f0f0f0;
                border-radius: 2px;
                box-shadow: 0 0 2px #888;
            }
        }

        > div.text {

            p {
                margin-top: 0.2em;

                &:last-child {
                    margin-bottom: 0.2em;
                }
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: 130%;
                font-weight: bold;
            }
        }

        > .isso-comment-footer {
            font-size: 0.80em;
            color: gray !important;
            clear: left;

            a {
                font-weight: bold;
                text-decoration: none;

                &:hover {
                    color: #111111 !important;
                    text-shadow: #aaaaaa 0 0 1px !important;
                }
            }

            > a {
                position: relative;
                top: .2em;

                + a {
                    padding-left: 1em;
                }
            }

            .votes {
                color: gray;
            }

            .upvote,
            .downvote {

                svg {
                    position: relative;
                    top: .2em;
                }
            }
        }
    }

    &.isso-no-votes {

        span.votes {
            display: none;
        }
    }

    .isso-follow-up {
        padding-left: calc(7% + 20px);
    }
}

.isso-postbox {
    max-width: 68em;
    margin: 0 auto 1em;
    clear: right;

    &.preview-mode {

        > .form-wrapper {

            input[name="preview"],
            .textarea {
                display: none;
            }

            .preview {
                display: block;
            }

            input[name="edit"] {
                display: inline;
            }
        }
    }

    > .form-wrapper {
        display: block;
        padding: 0;

        .auth-section {
            display: block;

            .post-action {
                display: inline-block;
                float: right;
                margin: 0 0 0 5px;

                > input {
                    padding: calc(.3em - 1px);
                    border-radius: 2px;
                    border: 1px solid #CCC;
                    background-color: #DDD;
                    transition: background-color $main-animation-timing $main-animation-function, color $main-animation-timing $main-animation-function;
                    cursor: pointer;
                    outline: 0;
                    line-height: 1.4em;
                    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

                    &:hover {
                        background-color: #CCC;
                    }

                    &:active {
                        background-color: #BBB;
                    }
                }
            }

            .input-wrapper {
                display: inline-block;
                position: relative;
                max-width: 25%;
                margin: 0;

                input {
                    padding: .3em 10px;
                    max-width: 100%;
                    border-radius: 3px;
                    background-color: #fff;
                    transition: background-color $main-animation-timing $main-animation-function, color $main-animation-timing $main-animation-function;
                    line-height: 1.4em;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
                }
            }
        }

        .textarea,
        .preview {
            margin: 0 0 .3em;
            padding: .4em .8em;
            border-radius: 3px;
            background-color: #fff;
            transition: background-color $main-animation-timing $main-animation-function, color $main-animation-timing $main-animation-function;
            border: 1px solid rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        }

        .preview {
            display: none;
            background-color: #f8f8f8;
            transition: background-color $main-animation-timing $main-animation-function, color $main-animation-timing $main-animation-function;
            background: repeating-linear-gradient(
                -45deg,
                #f8f8f8,
                #f8f8f8 10px,
                #fff 10px,
                #fff 20px
            );
        }

        input[name="edit"] {
            display: none;
        }

        input[type=checkbox] {
            vertical-align: middle;
            position: relative;
            bottom: 1px;
            margin-left: 0;
        }

        .notification-section {
            display: none;
            padding-bottom: 10px;
            font-size: 0.90em;
            padding-top: .3em;
        }
    }
}

$isso-input-bg-color: lighten( $dark-theme-background, 7.5% );
body#dark {

    .isso-postbox {

        > .form-wrapper {

            .auth-section {

                .post-action {

                    > input {
                        border: 1px solid #CCC;
                        background-color: darken( $dark-theme-background, 4% );
                        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

                        &:hover {
                            background-color: darken( $dark-theme-background, 8% );
                        }

                        &:active {
                            background-color: darken( $dark-theme-background, 12% );
                        }
                    }
                }

                .input-wrapper {

                    input {
                        background-color: $isso-input-bg-color;
                        border: 1px solid rgba(0, 0, 0, 0.2);
                        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
                    }
                }
            }

            .textarea,
            .preview {
                background-color: $isso-input-bg-color;
                border: 1px solid rgba(0, 0, 0, 0.2);
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            }

            .preview {
                background-color: #f8f8f8;
                background: repeating-linear-gradient(
                    -45deg,
                    #f8f8f8,
                    #f8f8f8 10px,
                    #fff 10px,
                    #fff 20px
                );
            }
        }
    }
}

@include max-screen(600px) {

    .isso-postbox > .form-wrapper > .auth-section .input-wrapper {
        display: block;
        max-width: 100%;
        margin: 0 0 .3em;
    }
    .isso-postbox > .form-wrapper > .auth-section .input-wrapper input {
        width: 100%;
    }
}

@include screen(601px, 939px) {

    .isso-postbox > .form-wrapper > .auth-section .input-wrapper {
        max-width: 23%;
    }
}

@include min-screen(940px) {

    .isso-postbox > .form-wrapper > .auth-section .input-wrapper {
        margin: 0 7.5px 0 0;

        &:nth-of-type(3) {
            margin: 0;
        }
    }
}

@include min-screen(1240px) {

    .isso-postbox > .form-wrapper > .auth-section .input-wrapper {
        margin: 0 15px 0 0;

        &:nth-of-type(3) {
            margin: 0;
        }
    }
}
