
/* Colors */
$offwhite           : #ecf0f1;
$silver             : #bdc3c7;
$orange             : #e74c3c;
$blue               : #2c3e50;
$light-grey         : #DDD;
$mid-grey           : #898989;
$dark-grey          : #323232;

@import 'normalize';
@import 'mixins';

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/*****************************************************************************/
/* Common
/*****************************************************************************/

body {
    line-height: 1;
    background-color: $offwhite;
    color: #222;
    font: 400 16px/1.6 'Lora', Georgia, serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    margin: 0.5em 0;
}

p {
    margin: 1em 0;
}

a {
    color: $orange;
    @include transition( color, 0.3s );

    &:hover {
        color: darken( $orange, 12% );
    }

    &:visited {
        color: $orange;

        &:hover {
            color: darken( $orange, 12% );
        }
    }
}

/*****************************************************************************/
/* Home
/*****************************************************************************/

ul.posts {
    list-style-type: none;
    margin: 0 0 2em 0;
    padding: 0 0 0 1em;

    li {
        line-height: 1.75em;

        .post-title {
            font-size: 130%;
        }

        .post-meta {
            font-size: 90%;
            color: $mid-grey;
        }
    }
}

/*****************************************************************************/
/* Site
/*****************************************************************************/

.site {
    font-size: 100%;
    text-align: left;
    width: 75%;
    margin: 0.5em auto;
    line-height: 1.5em;

    main,
    section {
        padding: 0 1.5%;
    }

    section {
        margin: 2em 0;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    h1 {
        font-size: 200%;
    }

    h2 {
        font-size: 160%;
    }

    h3 {
        font-size: 140%;
    }

    h4 {
        font-size: 120%;
    }

    h5 {
        font-size: 110%;
    }

    h6 {
        font-size: 100%;
    }

    h1, h2, h3, h4, h5, h6 {
        line-height: 1.25;
    }
}

.title {
    display: inline-block;
    @include transition( opacity, 0.75s );

    a {
        color: $blue;
        font: 400 72px/1.2 'Istok Web', Verdana, Helvetica, sans-serif;
        text-decoration: none;
        opacity: 1.0;

        strong {
            color: $orange;
            font-weight: 800;
        }

        &:hover {
            color: $blue;
        }
    }

    &:hover {
        opacity: 0.75;
    }
}

.horiz-nav {
    padding: 1.75em 0 1em;
    float: right;
    position: relative;

    a {
        font: 400 24px/1.2 'Istok Web', Verdana, Helvetica, sans-serif;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .menu-separator {
        font-size: 20px;
        position: relative;
        top: -2px;
        color: $light-grey;
    }
}

#post .highlighttable {
    display: block;
    width: 100%;
    font-size: 85%;

    .linenos {
        width: 20px;
        vertical-align: top;
        display: inline-block;

        code,
        pre {
            background-color: #E7E7E7;
        }

        code {
            padding: 0 0.45em;
            margin: 0.5em 0;
        }

        pre {
            width: 100%;
            padding: 0;
            border-radius: 0;
            border-right: 0;
            @include borderRadius( 3px, 0, 0, 3px );
        }
    }

    .code {
        width: 89%;
        display: inline-block;

        pre {
            padding: 0.35em 0.5em 0.525em;
            margin-bottom: 0;
            border-radius: 0;
            @include borderRadius( 0, 3px, 3px, 0 );
        }
    }

    tbody, tr {
        display: block;
    }
}

.site footer {
    font-size: 85%;
    color: $dark-grey;
    border-top: 1px solid $light-grey;
    margin-top: 1em;
    overflow: hidden;

    a {
        color: $orange;
    }

    .contact {
        float: left;
    }

    .links {
        float: right;
        text-align: right;
    }

    .credits {
        text-align: center;
        font-size: 110%;
        color: $mid-grey;

        p {
            margin: 0;
            padding: 0;
            vertical-align: middle;

            a {
                display: inline-block;

                img {
                    max-height: 24px;
                    width: auto;
                    vertical-align: text-bottom;
                    @include cb-opacity( 0.7 );
                    @include transition( opacity, 0.3s );
                }

                &:hover {

                    img {
                        @include cb-opacity( 1.0 );
                    }
                }
            }

        }
    }
}

/*****************************************************************************/
/* Posts
/*****************************************************************************/
#post {

}

    #post .meta {
        color: $mid-grey;
    }

    #post ul,
    #post ol {
        margin-left: 1.35em;
    }

    /* standard */
    #post pre,
    #post code {
        border: 1px solid #ddd;
        background-color: #eef;
        padding: 0 0.5em;
    }

    #post code {
        font-size: 90%;
        display: inline-block;
    }

    #post pre code {
        border: none;
    }

    #post p code {
        line-height: 1.35;
    }

  /* terminal */

    #post pre.terminal {
        border: 1px solid black;
        background-color: #333;
        color: white;
    }

    #post pre.terminal code {
        background-color: #333;
    }
