/*!
 * Project Name: WillPresley.com
 * Author: Will Presley
 * Created: 2015/02/28 11:28:00
 * Last modified: 2020/06/30 12:04:34
 * Description: Full SASS/CSS for a Jekyll-powered static responsive site.
 */

// Imports
@import 'variables';
@import 'normalize';
@import 'media-queries';
@import 'mixins';
@import 'typography';

// Mixins to use:
    // Transition Prefixer:         @include transition($transition...)
    // Cross-Browser BG-Size:       @include cb-bg-size($width, $height)
    // Cross-Browser Border-Radius: @include borderRadius($size...)
    // BBG w Alpha & Fallback:      @include background-opacity($color, $opacity: 0.3)
    // Forces HW Accel:             @include enable-hw-acceleration
    // Fix Flicker:                 @include fix-flicker

/* Global border-box sizing */
html {
    box-sizing: border-box;
    overflow-y: scroll; // Stupid scrollbars
    font-size: 100%;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Common */
body {
    line-height: 1;
    background-color: $offwhite;
    // background-color: $white;
    color: $body-text-color;
    // font: 400 16px/1.6 'Lora', Georgia, serif;
    font-family: $lora;
    // font-size: 16px;
    line-height: 1.6;
    text-align: center;
    transition: background-color $main-animation-timing $main-animation-function, color $main-animation-timing $main-animation-function;
    font-feature-settings: "liga" 1;
}

html.ligatures {

    body {
        font-feature-settings: normal;
        font-variant-ligatures: common-ligatures;
    }
}

h1, h2, h3, h4, h5, h6 {
    // font-size: 100%;
    margin: 0.5em 0;
    position: relative;
}

p {
    margin: 1em 0;
}

a {
    color: $orange;
    transition: color $main-animation-timing $main-animation-function;
    word-break: break-word;  //non-standard css for webkit
    word-wrap: break-word;

    // &:visited {
    //     color: $orange;
    // }

    &.back-to-top {
        // color: $blue;
        display: block;
        width: 110px;
        text-align: center;
        position: relative;
        top: 0;
        color: $offwhite;
        background-color: $blue;
        padding: 5px;
        margin: 0 auto 5px;
        text-decoration: none;
        font-size: 12px;
        // transition: all $main-animation-timing $main-animation-function;
        transition: background-color $main-animation-timing $main-animation-function;

        &:hover, &:active, &:focus {
            top: -2px;
            background-color: $blue-light;
        }
    }
}

img {
    max-width: 100%;
    height: auto;
}

/* Site Header */
.title {
    display: block;

    h1 {
        margin: 0;
        font-weight: normal;
    }

    a {
        display: inline-block;
        color: $blue;
        font-family: $istok;
        font-size: 52px;
        font-size: 3.25rem;
        line-height: 1;
        text-decoration: none;
        transition: color $main-animation-timing $main-animation-function;
        @include font-smoothing(on);

        strong {
            display: inline-block;
            color: $orange;
        }
    }
}

/* Site Navigation */
.horiz-nav {
    margin: 1em 0;
    display: block;
    position: relative;

    a {
        // font: 400 16px/1.2 'Istok-Web', Verdana, Helvetica, sans-serif;
        font-family: $istok;
        font-size: 1rem;
        // font-size: 16px;
        line-height: 1.2;
        font-family: $istok;
        text-decoration: none;
        border-bottom: 1px solid transparent;

        &.active {
            border-bottom: 1px solid $light-grey;
        }
    }

    .menu-separator {
        font-size: 20px;
        font-size: 1rem;
        position: relative;
        top: -2px;
        // color: $light-grey;
        color: $mid-grey;
    }
}

/* General Site */
.site {
    font-size: 18px;
    font-size: 1.125rem;
    text-align: left;
    width: 95%;
    margin: 0.5em auto;
    line-height: 1.5;
    transition: width $main-animation-timing $main-animation-function;

    h1, h2, h3, h4, h5, h6 {
        color: $blue;
        line-height: 1.1;
        transition: color $main-animation-timing $main-animation-function;
    }

    h1 {
        font-size: 175%;
    }

    h2 {
        font-size: 150%;
    }

    h3 {
        font-size: 130%;
        color: $orange;
    }

    h4 {
        font-size: 120%;
    }

    h5 {
        font-size: 110%;
    }

    h6 {
        font-size: 100%;
    }

    main,
    section {
        padding: 0 1.5%;
    }

    main {
        padding-bottom: 0.5em;

        &.bordered {
            margin-bottom: 1.5em;
            border-bottom: 1px solid $light-grey;
        }
    }

    section {
        margin: 1em 0;

        &:last-of-type {
            margin-bottom: 0;
        }

        h2 {
            font-size: 150%;
        }

        &#comments {
            h2 {
                margin-bottom: 0;
            }
        }
    }

    .meta {
        color: $mid-grey;
        transition: color $main-animation-timing $main-animation-function;
    }

    .img-center,
    .image-center,
    .txt-center,
    .text-center {
        text-align: center;
    }

    #post-tags {
        margin: 0 1.65%;
        font-size: 20px;
        font-size: 1.25rem;

        a {
            text-decoration: none;
        }
    }

    // #related {}

        .related-posts {

            li {
                margin-bottom: 0.5em;
            }
        }

    // #disqus_thread {
    //     // max-width: 95%;
    //     margin: 0 1.5%;
    // }
}

// #uses {

//     h3 ~ .uses-list-half {

//         h4 {
//             margin-top: 0;
//         }
//     }
// }

/* Homepage */
.home-more-link,
.archive-more-link {
    color: tint( $orange, 20% );
    // font: 400 18px/1.2 'Istok-Web', Verdana, Helvetica, sans-serif;
    font-family: $istok;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.2;
    font-weight: normal;
    // vertical-align: middle;
    display: inline-block;
    // vertical-align: top;
    // margin-top: 1em;
    // margin-left: 1em;
    margin-left: 12px;
    text-decoration: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

ul.posts {
    list-style-type: none;
    margin: 0 0 2em 0;
    padding: 0 0 0 1em;

    li {
        line-height: 1.1;
        text-align: left;

        &.title-item {
            padding-left: 1em;
            text-indent: -1em;
            font-size: 24px;
            font-size: 1.5rem;
            margin-bottom: 0.25em;

            &:before {
                content: "\00BB";
                font-size: 32px;
                font-size: 2rem;
            }
        }

        a {
            text-decoration: none;
        }

        .post-title {
            margin-left: 10px;
        }

        .post-meta {
            font-size: 20px;
            font-size: 1.25rem;
            color: $mid-grey;
            transition: color $main-animation-timing $main-animation-function;
            display: inline-block;
            padding-top: 10px;
            text-indent: 0;
        }
    }

    &.postlist-short {

        li {

            .post-meta {
                margin-bottom: 20px;
                margin-left: 10px;
            }
        }
    }

    &.postlist-long {

        li {
            &.the-excerpt {
                padding: 0.5em 0 1.5em 1.4em;
            }
        }
    }

    &.related-posts {
        margin: 0 0 1em 0;
    }
}

/* Main Content Area */
.main-content {

    .image-link {
        display: inline-block;
        line-height: 0.75;
    }

    .fullwidth {
        width: 100%;

        &img {
            max-width: unset;
        }

        img {
            width: 100%;
        }
    }

    ul,
    ol {
        margin: 15px 10px;
        padding: 0 0 0 15px;
        line-height: 1.25;

        ul,
        ol {
            margin-right: 0;
        }
    }

    li {
        margin-bottom: 10px;
    }

    code {
        border: 1px solid $light-grey;
        // background-color: $code-grey;
        // padding: 0 0.4em;
        background-color: #272822;
        color: #f8f8f2;
        margin: 0 2px;
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.15;
        display: inline-block;
    }

    pre code {
        border: none;
    }

    p code {
        line-height: 1.25;
    }

    .highlighter-rouge {
        padding: 0 5px;
    }

    .photo-half {

        &.remove-margin {

            p {
                margin: 0;
            }
        }

        &.remove-top-margin {

            p {
                margin-top: 0;
            }
        }

        &.with-caption {

            p:first-of-type {
                margin: 0;

                + p {
                    margin-bottom: 15px;
                }
            }
        }
    }
}

/* Blog by Tags */
.list-group-link-item {
    font-weight: normal;
}

/* Portfolio Page */
.main-content .project-list {
    list-style: none;
    margin: 0;
    padding: 0;

    .project-item {
        display: inline-block;
        vertical-align: top;
        width: 31%;
        margin: 0 1%;

        img {
            border: 1px solid $light-grey;
        }
    }

    .project-image-link {
        display: block;
    }
}

/* Individual Project Page */
.project-image-large {
    margin-top: 1em;

    img {

        &.bordered {
            border: 1px solid $light-grey;
        }
    }
}

.project-specific-info {

    h2 {
        color: $orange;
    }
}

/* Site Footer */
.site footer {
    font-size: 95%;
    font-size: 1.07rem;
    color: $body-text-color;
    transition: color $main-animation-timing $main-animation-function;
    // border-top: 1px solid $light-grey;
    width: 100%;
    margin-top: 1.5em;
    overflow: hidden;

    a {
        color: $orange;
    }

    h4 {
        font-size: 140%;
        font-size: 1.5rem;
        display: inline-block;
        // text-transform: lowercase;
        border-bottom: 1px solid $light-grey;
    }

    .contact p,
    .links p {
        margin-top: 0;
    }

    .contact {
        display: inline-block;
        width: 50%;
    }

    .links {
        display: inline-block;
        width: 49%;
        text-align: right;
    }

    // .color-scheme-toggles input[type=radio] {
    //     opacity: 0;
    //     position: absolute;

    //     +label {
    //         font-size: .833rem;
    //         height: 2rem;
    //         display: inline-flex;
    //         align-items: center;
    //         padding: 0 1.25rem;
    //         cursor: pointer;
    //         background-color: #fff;
    //     }
    // }

    .theme-switch-link {
        cursor: pointer;
        text-decoration: underline;
    }

    .credits {
        text-align: center;
        // font-size: 105%;
        color: $mid-grey;

        p {
            margin: 0;
            padding: 0;
            vertical-align: middle;

            a {
                display: inline-block;
                // text-decoration: none;
                // color: $mid-grey;

                img {
                    max-height: 24px;
                    width: auto;
                    vertical-align: text-bottom;
                    outline: 1px solid transparent;
                }

                svg {
                    // max-height: 24px;
                    // width: auto;
                    // vertical-align: text-bottom;
                    // outline: 1px solid transparent;
                    // vertical-align: bottom;
                    // margin: -3px -3px 0 -3px;
                    margin: -8px -3px 0 -3px;
                    vertical-align: middle;
                    // margin: -3px;
                }
            }
        }

        .credit-links {

            b, strong {
                vertical-align: text-bottom;
            }
        }
    }
}

figure {

    &.code-block {
        margin: 1em 0.5em;
    }

    figure {
        margin: 0;

        code {
            padding: 0.5em 0;
        }
    }
}

/* Final Imports */
@import 'syntax';

/* Media Queries */
/* START MINS */
@include min-screen(350px)  {

    .horiz-nav a {
        font-size: 18px;
    }
}

@include min-screen(480px)  {

    .horiz-nav a {
        font-size: 22px;
    }

    .horiz-nav .menu-separator {
        font-size: 16px;
    }

    .title a {
        font-size: 64px;
        line-height: 1.2;
    }

    .site {
        width: 90%;
    }
}

@include min-screen(768px)  {

    a {

        &:hover {
            color: darken( $orange, $orange-link-darken );
        }

        // &:visited {

        //     &:hover {
        //         color: darken( $orange, $orange-link-darken );
        //     }
        // }
    }

    .title {

        a {
            font-size: 70px;
            opacity: 1.0;
            transition: opacity $main-animation-timing $main-animation-function, color $main-animation-timing $main-animation-function;

            &:hover {
                color: $blue;
                opacity: 0.75;
            }
        }
    }

    .horiz-nav {

        a {
            transition: border-bottom $main-animation-timing;

            &:hover {
                border-bottom: 1px solid darken( $orange, $orange-link-darken );
            }
        }
    }

    .site {
        width: 80%;

        h1, h2, h3, h4, h5, h6 {
            line-height: 1.25;
        }

        h1 {
            font-size: 250%;
            font-size: 3rem;
        }

        h2 {
            font-size: 230%;
            font-size: 2.625rem;
        }

        h3 {
            font-size: 160%;
        }

        h4 {
            font-size: 130%;
        }

        h5 {
            font-size: 115%;
        }

        .img-center-desktop,
        .image-center-desktop,
        .txt-center-desktop,
        .text-center-desktop {
            text-align: center;
        }

        #post-tags {

            a {

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .home-more-link,
    .archive-more-link {

        &:hover {
            color: $orange;
            text-decoration: underline;
        }
    }

    ul.posts {

        li {

            a {

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    // .main-content ul,
    // .main-content ol {
    //     margin: 0.75em 2em 0.75em 0.5em;
    // }

    .site footer {

        a {

            &:hover {
                color: darken( $orange, $orange-link-darken );
                text-decoration: none;
            }
        }

        .credits {

            p {

                a {

                    img, svg {
                        opacity: 0.6;
                        transition: opacity, $main-animation-timing;
                    }

                    &:hover {
                        color: darken( $mid-grey, 12% );
                        text-decoration: underline;

                        img, svg {
                            opacity: 1.0;
                        }
                    }
                }
            }
        }
    }
}

@include min-screen(940px) {
    .horiz-nav {
        float: right;
        max-width: 48%;
        margin: 1.75em 0 1em;

        a {
            font-size: 20px;
        }
    }

    .title {
        display: inline-block;
        max-width: 52%;

        a {
            font-size: 64px;
        }
    }

    // .site {
    //     width: 75%;
    // }

    #uses {

        .uses-list-half {
            width: 49%;
            display: inline-block;
            vertical-align: top;

            // h4 {
            //     margin-top: 0;
            // }

            ul, ol {
                margin: 10px 25px 10px 10px;
                font-size: 16px;
            }
        }

        // > h3 ~ .uses-list-half:nth-of-type(1),
        // > h3 ~ .uses-list-half:nth-of-type(2) {

        //     // &:nth-of-type(1), &:nth-of-type(2) {

        //         h4 {
        //             margin-top: 0;
        //         }
        //     // }
        // }
    }

    .photo-half {
        width: 49%;
        display: inline-block;
        vertical-align: top;
    }
}

@include min-screen(1024px)  {
    .horiz-nav {
        margin: 2.25em 0 1em;

        a {
            font-size: 22px;
        }
    }

    .title a {
        font-size: 72px;
    }

    .site {
        // width: 75%;
        max-width: 940px;
    }
}

@include min-screen(1240px)  {
    .title a {
        font-size: 76px;
    }

    // .site {
    //     // width: 65%;
    //     // max-width: 1300px;
    //     width: 940px;
    // }
}

/* START MAXES */
@include max-screen(455px) {
    .site footer .contact,
    .site footer .links {
        display: block;
        width: 100%;
        text-align: left;

        p {
            margin: 0 0 0.5em 0;
            line-height: 2;
        }
    }

    .site footer .credits {
        margin-top: 1em;
    }
}

@include max-screen(600px) {
    .horiz-nav,
    .title {
        text-align: center;
    }

    .horiz-nav {
        margin-bottom: 1.5em;
    }

    .site footer .credits p {
        line-height: 2.5;
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    /* Retina-specific stuff here */

    .site {

        .footer {

            .credits {

                p {

                    a {

                        svg {
                            margin-top: -3px;
                        }
                    }
                }
            }
        }
    }
}

body#dark {
    background-color: $dark-theme-background;
    color: $dark-theme-body-text;

    a {
        color: $dark-theme-green;

        &:hover, &:active, &:focus {
            color: lighten( $dark-theme-green, 10% );
        }
    }

    .title {

        a {
            color: $dark-theme-teal;

            strong {
                color: $dark-theme-light-gray;
            }
        }
    }

    .site {

        h1, h2, h3, h4, h5, h6 {
            color: $dark-theme-teal;
        }

        h3 {
            color: $dark-theme-light-gray;
        }

        footer {
            color: $dark-theme-light-gray;

            .credits {
                color: darken( $dark-theme-body-text, 10% );

                p a svg {
                    filter: invert(1);
                }
            }
        }

        .meta {
            color: darken( $dark-theme-body-text, 10% );
        }
    }

    ul.posts {

        li {

            .post-meta {
                color: darken( $dark-theme-body-text, 10% );
            }
        }
    }

    .highlight code { background: $black }

    @include min-screen(768px)  {

        .horiz-nav {

            a {

                &:hover {
                    border-bottom: 1px solid darken( $dark-theme-green, $orange-link-darken );
                }
            }
        }
    }
}

@media (prefers-color-scheme: dark) {

    body {
        background-color: $dark-theme-background;
        color: $dark-theme-body-text;

        a {
            color: $dark-theme-green;

            &:hover, &:active, &:focus {
                color: lighten( $dark-theme-green, 10% );
            }
        }

        .title {

            a {
                color: $dark-theme-teal;

                strong {
                    color: $dark-theme-light-gray;
                }
            }
        }

        .site {

            h1, h2, h3, h4, h5, h6 {
                color: $dark-theme-teal;
            }

            h3 {
                color: $dark-theme-light-gray;
            }

            footer {
                color: $dark-theme-light-gray;

                .credits {
                    color: darken( $dark-theme-body-text, 10% );

                    p a svg {
                        filter: invert(1);
                    }
                }
            }

            .meta {
                color: darken( $dark-theme-body-text, 10% );
            }
        }

        ul.posts {

            li {

                .post-meta {
                    color: darken( $dark-theme-body-text, 10% );
                }
            }
        }

        .highlight code { background: $black }

        @include min-screen(768px)  {

            .horiz-nav {

                a {

                    &:hover {
                        border-bottom: 1px solid darken( $dark-theme-green, $orange-link-darken );
                    }
                }
            }
        }
    }
}

body#light {
    background-color: $offwhite;
    color: $body-text-color;

    a {
        color: $orange;

        &:hover, &:active, &:focus {
            color: darken( $orange, $orange-link-darken );
        }

        &.back-to-top {
            // color: $blue;
            color: $offwhite;
            background-color: $blue;

            &:hover, &:active, &:focus {
                background-color: $blue-light;
            }
        }
    }

    .title {

        a {
            color: $blue;

            strong {
                color: $orange;
            }
        }
    }

    .site {

        h1, h2, h3, h4, h5, h6 {
            color: $blue;
        }

        h3 {
            color: $orange;
        }

        footer {
            color: $mid-grey;

            .credits {
                color: $mid-grey;

                p a svg {
                    filter: invert(0);
                }
            }
        }

        .meta {
            color: $mid-grey;
        }
    }

    ul.posts {

        li {

            .post-meta {
                color: $mid-grey;
            }
        }
    }

    .highlight code { background: #272822 }

    @include min-screen(768px)  {

        .horiz-nav {

            a {

                &:hover {
                    border-bottom: 1px solid darken( $orange, $orange-link-darken );
                }
            }
        }
    }
}
