---
layout: default
title: "Tag Archive"
---
<main class="main-content tag-archive page"{% if site.tags[page.tag] %} id="{{ page.tag }}"{% endif %}>
    <a name="top"></a><h1>Posts with Tag: {{ page.tag | capitalize }}</h1>
    <div>
        {% if site.tags[page.tag] %}
            {% for post in site.tags[page.tag] %}
                {% capture post_year %}{{ post.date | date: '%Y' }}{% endcapture %}
                {% if forloop.first %}
                    <h3>{{ post_year }}</h3><div class="list-group">
                {% endif %}

                {% if forloop.first == false %}
                    {% assign previous_index = forloop.index0 | minus: 1 %}
                    {% capture previous_post_year %}{{ site.tags[page.tag][previous_index].date | date: '%Y' }}{% endcapture %}
                    {% if post_year != previous_post_year %}
                        </div><h3>{{ post_year }}</h3><div class="list-group">
                    {% endif %}
                {% endif %}

                <h5 class="list-group-link-item"><span class="meta">{% assign d = post.date | date: "%-d" %}{{ post.date | date: "%B " }}{% case d %}{% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %}, {{ post.date | date: "%Y" }}</span> &raquo; <a href="{{ post.url }}/" class="list-group-item">{{ post.title }}</a></h5>

                {% if forloop.last %}
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>There are no posts for this tag.</p>
        {% endif %}
    </div>
</main>
