<!doctype html>
<html class="no-js" lang="en-US">
    {% include head.html %}
    <body>
        <div class="site">
            {% include nav.html %}
            {{ content }}
            {% include foot.html %}
        </div>

        <!-- Moderizr Custom Build -->
        <script async src="/js/modernizr-custom.min.js"></script>

        <!-- Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-60499701-1', 'auto');ga('send', 'pageview');
        </script>

        <!-- Disqus Comment Count -->
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'willpresley';
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {var s = document.createElement('script');s.async = true;s.type = 'text/javascript';s.src = '//a.disquscdn.com' + '/count.js';(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);}());
        </script>
    </body>
</html>
