<!doctype html>
<html class="no-js" lang="en-US">

    {% include head.html %}

    <body>
        <div class="site">
            {% include nav.html %}
            {{ content }}
            {% include foot.html %}
        </div>
    </body>

    <!-- Theme Switch EventListeners -->
    <script>document.addEventListener("DOMContentLoaded",()=>{document.getElementById("s").addEventListener("click",toggleT,!1),document.getElementById("d").addEventListener("click",toggleT,!1),document.getElementById("l").addEventListener("click",toggleT,!1)});</script>

    <!-- Site Scripts -->
    <script async src="{{site.url}}/js/wp-dotcom-scripts-combined.min.js?v={{ site.time | date:'%s' }}"></script>

    {% include analytics-fathom.html %}

    {% if page.comments != true and page.add-counter == true %}
    <!-- Isso Comment Count -->
    <script async data-isso="https://comments.willpresley.com/" src="https://comments.willpresley.com/js/count.min.js"></script>
    {% endif %}
</html>
