<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }}</title>
        <meta name="author" content="Will Presley" />
        <meta name="description" content="Personal site for Will Presley, web developer.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
        <!-- Place favicon.ico in the root directory -->

        <!-- Google Webfonts -->
        <link href="http://fonts.googleapis.com/css?family=Istok+Web" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lora" rel="stylesheet" type="text/css">

        <!-- syntax highlighting CSS -->
        <!-- <link rel="stylesheet" href="/css/syntax.css" type="text/css" /> -->

        <!-- Homepage CSS -->
        <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

    </head>
    <body>
        <div class="site">
            <nav class="horiz-nav">
                <a href="/index.html">Home</a> /
                <a href="#">About</a> /
                <a href="#">Work</a> /
                <a href="/blog/">Blog</a>
            </nav>

            <header class="title">
                <a href="/index.html">Will<strong>Presley</strong></a>
            </header>

            {{ content }}

            <footer class="site-foot">
                <div class="contact">
                    <p>
                    Will Presley<br />
                    Web Developer<br />
                    william.presley.jr@gmail.com
                    </p>
                </div>
                <div class="links">
                    <p>
                        <a href="http://github.com/WillPresley/">github.com/WillPresley</a><br />
                        <a href="http://twitter.com/cryptecks/">twitter.com/cryptecks</a><br />
                    </p>
                </div>
            </footer>
        </div>
        <!-- Google Analytics -->

        <!-- Google Analytics end -->
    </body>
</html>
