---
layout: default
title: "Projects"
permalink: "/projects/"
page-id: projects
meta-description: "A portfolio of projects I have worked on for my day-job, for my freelance work, and as a hobby."
meta-robots: "noodp, noydir"
---
<main class="main-content page portfolio"{% if page.page-id %} id="{{ page.page-id }}"{% endif %}>
    <a name="top"></a><h1>{{ page.title }}</h1>
    <p>Projects are listed newest-first. Click on the image or title to learn more!</p>
    <ul class="project-list">
        {% assign items = site.projects | sort: 'date' | reverse %}
        {% for project in items %}
        {% if project.published %}
        <li class="project-item">
            <a class="project-image-link" href="{{site.url}}{{ project.url }}">
                {% if project.image-small %}
                <img src="{{ project.image-small.url }}" title="{{ project.image-small.title }}" alt="{{ project.image-small.alt }}" />
                {% endif %}
            </a>
            <p><strong><a href="{{site.url}}{{ project.url }}">{{ project.title}}</a></strong></p>
            <p>{{ project.short }}</p>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</main>
