---
layout: default
---
<main class="main-content post{% if page.comments %}{% unless page.hide-related %} bordered{% endunless %}{% endif %}" id="post_{{ page.title | downcase | replace: ' ','-' | replace: '!','' | replace: ',','' | replace: '.','' | replace: '?','' | replace: '&','and' | replace: '<','' | replace: '>','' | replace: '#','' | replace: '%','' | replace: '|','-' | replace: '/','-' | replace: '\','-' | replace: '^','' | replace: '[','' | replace: ']','' | replace: '`','' | replace: ';','' | replace: ':','-' | replace: '@','' | replace: '=','' | replace: '+','and' | replace: '$','' }}">
                <h1>{{ page.title }}</h1><a name="top"></a>
                {% include metainfo.html %}
                {{ content }}
            </main>
{% include tagged.html %}
{% include related.html %}
{% include comments-isso.html %}
