---
layout: default
---
<main class="main-content page project"{% if page.page-id %} id="{{ page.page-id }}"{% endif %}>
    {% if page.image-large %}
    <a name="top"></a><div class="project-image-large">
        <img src="{{ page.image-large.url }}" title="{{ page.image-large.title }}" alt="{{ page.image-large.alt }}"{% if page.image-large.bordered %} class="bordered"{% endif %} />
    </div>
    {% endif %}

    <div class="project-general-info">
        <h1>{{ page.title }}</h1>
        {% if page.website %}
            <p class="website-wrap"><strong>Visit this site:</strong> <a href="{{ page.website }}" target="_blank" rel="noreferrer" class="website-link">{{ page.website }}</a></p>
        {% endif %}
    </div>

    <div class="project-specific-info">
        {{ page.content }}
    </div>
</main>
